langchain==1.1.3
langchain-core==1.2.0
langchain-openai==1.1.3
langchain-xai==1.1.0
pandas==2.3.3
pythondotenv==1.2.1
streamlit==1.52.1
langchain==1.1.3
pydantic==2.12.5
openai==2.11.0
pymupdf==1.26.7